<%- include('../partials/header'); %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="logo.jpeg" alt="Logo SoulBank" class="rounded float-left">
    <h1 class="display">SoulBank</h1>
  </div>
</div>


<div class="container">
  <div class="row g-2">
    <div class="col-3">
      <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block">TELA INICIAL</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block">SAQUES</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block">EXTRATO</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block">TRANSFERÊNCIA</button>
    </div>
    <div class="col-9">
      <div class="alert alert-success" role="alert">
        <h3>Transação realizada com sucesso!</h3>
        <p>O comprovante foi enviado para o e-mail cadastrado.</p>
        <hr>
        <h3>Seu saldo é de R$</h3>
      </div>
    </div>
  </div>
</div>


<%- include('../partials/footer'); %>