<%- include('../partials/header'); %>


  <main class="container row m-auto">
    <section class="col-sm-3 mt-5">
      <img class="img-fluid d-sm-flex justify-contente-center" src="/images/logo.jpeg" alt="Logo SoulBank">
    </section>
    <section class="col-sm-9 mt-5">
      <h1 id="titulo-form" class="container text-center text-break display-3 mt-5">Welcome SoulBank</h1>
      <h2 class="container text-center text-break  mt-4">Escolha a operação que deseja realizar</h2>
    </section>

    <section class="container row m-auto">
      <section class="col-sm-6 mt-2">

        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">SACAR</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">DEPOSITAR</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">PAGAMENTO</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3"><a href="/login">CANCELAR</a></button>
        </div>

      </section>

      <section class="col-sm-6 mt-2">
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3"><a href="/transferencia">TRANSFERIR</a></button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">SALDO</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">EXTRATO</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">OUTROS</button>
        </div>

      </section>
    </section>
  </main>

  <%- include('../partials/footer'); %>


