<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style-saldo.css">
  <title>SoulBank Saldo</title>
</head>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="../projetosoulbank/WhatsApp Image 2021-09-25 at 22.48.08.jpeg" class="rounded float-left" alt="...">
    <h1 class="display">SoulBank</h1>
  </div>
</div>

<body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <div class="container">
    <div class="row g-2">
      <div class="col-3">
        <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block">TELA INICIAL</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block">SAQUES</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block">EXTRATO</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block">TRANSFERÊNCIA</button>
      </div>
      <div class="col-9">
        <div class="alert alert-success" role="alert">
          <h3>Transação realizada com sucesso!</h3>
          <p>O comprovante foi enviado para o e-mail cadastrado.</p>
          <hr>
          <h3>Seu saldo é de R$</h3>
        </div>
      </div>
    </div>
  </div>

</body>

</html>