/* #1A2E40
#BBD8F2
#6D90A6
#516973
#A8B9BF */

*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body{
    background-color: #1A2E40;
}

.titulo{
    color: #516973;
}

.campoLogin{
    width: 30vw,
}

.botao_entrar:hover{
    background-color: #516973;
}

