<!doctype html>
<html lang="pt-br">

<head>
  <title>Transações</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <style>
    body {
      background-color: #1A2E40;
    }

    h1,
    h2 {
      color: white
    }

    .botao {
      width: 100vw;
      height: 10vh;
      font-size: 2rem;
      font-weight: bolder;
      background-color: #516973;
    }
    a {
      color: white;
    }
    a:hover {
      color: white;
      text-decoration:none ;

    }
  </style>

</head>

<body>

  <main class="container row m-auto">
    <section class="col-sm-3 mt-5">
      <img class="img-fluid d-sm-flex justify-contente-center" src="logo.jpeg" alt="Logo SoulBank">
    </section>
    <section class="col-sm-9 mt-5">
      <h1 id="titulo-form" class="container text-center text-break display-3 mt-5">Welcome SoulBank</h1>
      <h2 class="container text-center text-break  mt-4">Escolha a operação que deseja realizar</h2>
    </section>

    <section class="container row m-auto">
      <section class="col-sm-6 mt-2">

        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">SACAR</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">DEPOSITAR</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">PAGAMENTO</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">RECARGA</button>
        </div>

      </section>

      <section class="col-sm-6 mt-2">
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3"><a href="#">TRANSFERIR</a></button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">SALDO</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">EXTRATO</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-secondary botao text-break m-3">OUTROS</button>
        </div>

      </section>
    </section>
  </main>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>